$lgBlue: linear-gradient(to right, #00B4DB, #0083B0);
$lgGreen: linear-gradient(to right, #84d9d2, #07cdae);
$lgRed: linear-gradient(to right, #E29587, #D66D75);
$lgGold: linear-gradient(to right, #dde47e, #cac531);
$lgPurple: linear-gradient(to right, #8f94fb, #4e54c8);
$lgYellow: linear-gradient(to right, #FFB75E, #ED8F03);
$lgDark: linear-gradient(89deg, #5e7188, #3e4b5b);
$lgSky: linear-gradient(to right, #56CCF2, #2F80ED);
$lgMoss: linear-gradient(to right, #71B280, #134E5E);
$lgSun: linear-gradient(to right, #F2C94C, #F2994A);
$lgGray: linear-gradient(to right, #928DAB, #1F1C2C);
$lgCopper: linear-gradient(to right, #B79891, #94716B);
$lgLeaf: linear-gradient(to right, #8DC26F, #76b852);
$lgNight: linear-gradient(to right, #2980b9, #2c3e50);
$lgMango: linear-gradient(to right, #ffe259, #ffa751);
$lgMoon: linear-gradient(to left, #0f2027, #203a43, #2c5364);
